body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #13294b;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  color: #13294b;
  width: 25%;
}

li a {
  display: block;
  color: #13294b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: #e84a27;
  text-decoration-line: underline;
}

.main-logo {
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #e84a27;
}

td {
  padding: 20px;
}

.schedule-table {
  padding: 120px 0px;
  font-size: 28px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.info {
  text-align: center;
  font-size: 36px;
  color: #13294b;
  padding: 120px 40px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

#main {
  width: 100%;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.date {
  font-size: 56px;
  padding: 5px;
  font-weight: bolder;
}

.info-facts {
  font-size: 36px;
  text-align: center;
  color: #e84a27;
  padding: 25px;
  background: #13294b;
  padding: 120px 40px;
}

.banner-img {
  width: 100%;
}

.committee {
  float: left;
  padding-bottom: 100px;
}

.headwrapper {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-left: 35px;
  padding-right: 35px;
}

.memberCards {
  float: left;
  padding-right: 50px;
}

.member-img-container {
  height: 300px;
  width: 300px;
  float: right;
  overflow: hidden;
}

.member-img {
  max-width: 100%;
}

.volunteer-info {
  float: left;
}

.volunteer-text {
  margin-top: 0px;
}

.volunteer-img {
  float: left;
  width: 43%;
  padding-right: 50px;
}

#member_name {
  text-align: left;
  font-weight: bolder;
}

#info_img {
  width: 95%;
}

.quicklinks {
  font-size: larger;
  color: #13294b;
}

.quicklinks:hover {
  color: #e84a27;
}

#content_header {
  color: #e84a27;
  margin-top: 0px;
  font-weight: bolder;
  padding-top: 30px;
}

#member_title {
  text-align: left;
}

#member_text {
  float: left;
}

#linkedinImg {
  width: 30px;
  float: right;
  margin-right: 28px;
  margin-top: 24px;
}
